/*title:      font-family: 'Noto Sans SC', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* scroll-snap-stop: always; */
  scroll-snap-align: center;
  overflow-x:hidden;
  background-color: white;
}
.page-gradient {
background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 58%, rgba(255,0,33,0.6516807406556373) 100%);
height: 60vh;
}
.match-container-row {
  padding-bottom: 1em;
}

.fit-container-width {
  width: 100%;
}

.padding-left-right-2 {
  padding-left: 2rem;
  padding-right: 2rem
}

.margin-left-right-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.padding-top-1rem {
  padding-top: 1rem;
}
.margin-5rem {
  margin-bottom: 5rem;
}
.padding-5rem {
  padding-top: 5rem;
}

.row{
  display: flex;
  flex-direction: row;

}
.divider {
  border-bottom: 2px solid rgba(177, 35, 35, 0.274) ;
}
.wraps {
  flex-wrap: wrap;
}

.tooltip
{
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  
  display: inline-block;
}
.text-container {
  max-width: 90%;
  margin: 0 auto;
  color: #262626;
}
.input {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
  width: 100%;
  display: inline;

}

.margin-1rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.match-width {
width: 100%;
}

.input-row {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 100%;
}

.center-row {
  justify-content: center;
  align-items: center;

}
.match-img {
  width:100%;
  object-fit: contain;
}
.match-container {
  max-width: 30em;
}
.img-container {
  max-height: 25em;
  max-width: 25em;
  overflow: hidden;
}
.profImage {
  width: 100%;
  height: 25rem !important;
}
.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.match-row {
  min-height: 5em;
}
.center-col {
  justify-content: center;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;

}
.block-display {
  display: block;
}

.match-img-height {
  min-height: 30em;
  overflow: hidden;
}
.light-gray {
  color: rgb(163, 163, 163);
}
.scroll-box {
  min-width: fit-content;
  width:100%
}
.img-parent {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 1em;
  float: left;
}
form {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.btn-red {
  background-color:rgba(168, 34, 34, 0.973);
  color: white;
  

}
.feedback-wrapper{
  padding: 0 1rem;
  text-align: center;
}
.box {
  background-color: white;
  box-shadow: 5px 10px 18px #888888;
  width: 30rem;
}
.red {
  background-color:rgba(168, 34, 34, 0.973)
}

.full-width-button {
  padding: 0.7rem;
  font-size: small;
  color: white;
  border: none;
  border-radius: 2px;
  width: 100%;

}
.notification-box {
  border-bottom: 3px solid #c5c5c5;
  border-top: 3px solid #c5c5c5;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(221, 234, 236);
}

.red-border {
  border-style: solid;
  border-width: 4px;
  border-color: red;
  border-radius: 0.5em;
}

.agelabel{
  width: 100%;
  text-align: right;
  padding: .5rem 1rem 0 0;
}

/*for buttons*/
.nostyle {
  border: none;
  background-color: transparent;
  text-align: left;
}
.buttonwrapper{
  width: 100%;
  /* vertical-align: top; */
}
.backButton {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 6rem;
  margin-left: -3rem;
  border-radius: 5px;
  background-color: darkred;
  border: none;
  color: white;
  z-index: 2;
  margin-bottom: .5rem;
}

.navbarCust {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: .8rem 0;
  background-color: #e3e3e3;
  z-index: 5;
}
.navbarItem{
  width: 20%;
  position: relative;
  float: left;
  text-align: center;
  color: grey;
}
.navbarItem:hover{
  color: darkred;
}
.navbar-padding-top{
  padding-top: 5rem;
}
.friendsContainer{
  max-width: 50rem;
  width: 80%;
  margin: 0 auto;
}
.pageTitle{
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 2.5rem;
}
.center{
  text-align: center;
}
.listedUser{
  z-index: 1;
  width: 100%;
  height: 5rem;
  padding: .5rem;
  border-bottom: 1px solid grey;
  background-color: #f3f3f3;
}
.listedUser-pic{
  float: left;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
}
.listedUser-text{
  line-height: .2rem;
  padding: 1.3rem 1rem;
  font-size: 1.2rem;
  float: left;
}
#listedUser-name{
  font-family: 'Noto Sans SC', sans-serif;
  color: black;
}
#listedUser-age{
  color: darkgrey;
}
.removeFriend{
  color: darkred;
  float: right;
  padding: 1.3rem 1rem;
}

.swiper{
  /*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  width: 100%;
  padding: 1rem 0 3rem 0;
}
.swiperElement{
  width: 33%;
  height: 2rem;
  text-align: center;
  float: left;
}
.finger {
  background-color: rgb(57, 105, 211);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 1.75rem;
  margin: -.5rem auto;
  padding: .75rem 0;
}
.finger:hover{
  opacity: .8;
}
.swiperElement p{
  margin: 1.5rem 0 0 0;
  font-size: .7rem;
}

.itsAMatch{
  color: darkgreen;
  background-color: #0eb20080;
  width: 100%;
  text-align: center;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.5rem;
  padding: 1rem 0;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.itsAMatch h2{
  font-size: 1rem;
  font-style: italic;
}

.wingmanSub {
  z-index: -1;
  background-color: #f8f8f8;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: -1.2rem;
  text-indent: 0;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 1rem 1rem;
}